## Question 1
**Read csv file into dataframe and display first 5 row**

In [81]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\jules_7owst96\code\Grand Circus\Week3\AmesHousing.csv")
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

## Question 2
**Print highest and lowest priced homes in Ames**

In [92]:
print("Highest Priced Home:")
print(df[df["SalePrice"] == df["SalePrice"].max()])
print("\nLowest Priced Home:")
print(df[df["SalePrice"] == df["SalePrice"].min()])

Highest Priced Home:
      Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
1767   1768  528351010           60        RL         104.0     21535   Pave

     Alley Lot Shape Land Contour  ... Pool QC Fence Misc Feature Misc Val  \
1767   NaN       IR1          Lvl  ...     NaN   NaN          NaN        0

     Mo Sold Yr Sold Sale Type Sale Condition  SalePrice  Formatted_SalePrice
1767       1    2007       WD          Normal     755000             $755,000

[1 rows x 83 columns]

Lowest Priced Home:
     Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
181    182  902207130           30        RM          68.0      9656   Pave

    Alley Lot Shape Land Contour  ... Pool QC Fence Misc Feature Misc Val  \
181   NaN       Reg          Lvl  ...     NaN   NaN          NaN        0

    Mo Sold Yr Sold Sale Type Sale Condition  SalePrice  Formatted_SalePrice
181       6    2010       WD         Abnorml      12789              $12,789

[1 rows x 83 columns]

## Question 3
**How many categories does lot size have?**

In [84]:
lot_area_categories = df["Lot Area"].nunique()  # nunique() returns unique values for a column
print(f"Number of Lot Area categories: {lot_area_categories}")

Number of Lot Area categories: 1960

## Question 4
**What is the range of years for the house listings in the data?**

In [85]:
min_year = df["Yr Sold"].min()
max_year = df["Yr Sold"].max()
print(f"Range of years for house listings: {min_year} - {max_year}")

Range of years for house listings: 2006 - 2010

## Question 5 
**What is the total number of all homes sold in Ames for all years?**

In [86]:
total_homes_sold = df.shape[0]  # gets the shape of the shape(size) of the array
print(f"Total homes sold in Ames for all years: {total_homes_sold}")

Total homes sold in Ames for all years: 2930

## Question 6
**How many nulls or NA are there in the Lot Frontage column?**

In [87]:
null_lot_frontage = df["Lot Frontage"].isnull().sum()
print(f"Number of null or na values in Lot Frontage column: {null_lot_frontage}")

Number of null or na values in Lot Frontage column: 490

## Question 7
**How many items have a value in Alley and what is the total number of  NA in the column?**

In [88]:
# number not na/null
alley_notnull = df["Alley"].notnull().sum()
print(f"Number of items with values in Alley column: {alley_notnull}")

# number null or na in Alley
alley_null = df["Alley"].isnull().sum()
print(f"Total number of NA values in Alley column: {alley_null}")

Number of items with values in Alley column: 198
Total number of NA values in Alley column: 2732

## Question 8
**What are all the homes in Gilbert with Yr Sold being 2009 and 2010?**

In [94]:
gilbert_homes = df[df["Neighborhood"] == "Gilbert"]
gilbert_homes_2009_2010 = gilbert_homes[(gilbert_homes["Yr Sold"] == 2009) | (gilbert_homes["Yr Sold"] == 2010)]
print(f"Homes in Gilbert with Yr Sold being 2009 or 2010: {gilbert_homes_2009_2010}")

Homes in Gilbert with Yr Sold being 2009 or 2010:      Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
4        5  527105010           60        RL          74.0     13830   Pave
5        6  527105030           60        RL          78.0      9978   Pave
9       10  527162130           60        RL          60.0      7500   Pave
10      11  527163010           60        RL          75.0     10000   Pave
11      12  527165230           20        RL           NaN      7980   Pave
12      13  527166040           60        RL          63.0      8402   Pave
13      14  527180040           20        RL          85.0     10176   Pave
16      17  527225035           50        RL         152.0     12134   Pave
18      19  527276150           20        RL         140.0     19138   Pave
51      52  528218150           20        RL         100.0     18494   Pave
54      55  528231020           80        RL          67.0     13300   Pave
55      56  528240070           60        RL           NaN      7851   Pave
56      57  528240130           60        RL          63.0      8577   Pave
57      58  528250100           80        RL           NaN      7750   Pave
58      59  528292020           60        RL           NaN      9505   Pave
344    345  527105070           60        RL          88.0     10179   Pave
345    346  527105130           60        RL           NaN     11792   Pave
346    347  527107130           80        RL          60.0      8400   Pave
347    348  527108070           20        RL          42.0     14892   Pave
348    349  527110020           80        RL           NaN      8530   Pave
353    354  527161040           80        RL          57.0      8923   Pave
354    355  527162110           60        RL          74.0     10141   Pave
355    356  527162120           60        RL          60.0      7500   Pave
356    357  527163040           60        RL          59.0      7837   Pave
357    358  527163070           60        RL           NaN      9765   Pave
358    359  527163130           60        RL           NaN      8803   Pave
359    360  527164020           20        RL          58.0      7250   Pave
360    361  527164060           60        RL           NaN      9636   Pave
361    362  527164090           60        RL          65.0      8125   Pave
362    363  527165130           20        RL           NaN      9248   Pave
363    364  527166010           60        RL           NaN     10762   Pave
364    365  527180100           20        RL          99.0     11851   Pave
369    370  527276160           60        RL          85.0     11900   Pave
464    465  528218090           60        RL          63.0     10928   Pave
465    466  528220040           60        RL          57.0      8918   Pave
466    467  528221060           60        RL         149.0     12589   Pave
467    468  528221070           60        RL         122.0     11911   Pave
474    475  528235010           60        RL          71.0      7795   Pave
475    476  528235090           60        RL           NaN      8068   Pave
476    477  528235200           80        RL          59.0      9434   Pave
477    478  528240030           60        RL          62.0      7984   Pave
478    479  528240060           80        RL           NaN      7750   Pave
479    480  528240150           60        RL          61.0     10125   Pave
480    481  528250020           60        RL           NaN      8965   Pave
481    482  528250040           60        RL           NaN      8174   Pave
483    484  528275070           60        RL           NaN      8795   Pave
484    485  528275160           60        RL           NaN     12891   Pave
485    486  528280230           60        RL           NaN     12224   Pave
486    487  528290030           80        RL          61.0      9734   Pave
487    488  528290120           60        RL          60.0      8123   Pave
488    489  528290180           60        RL          42.0      8433   Pave
489    490  528290190           80        RL          62.0      7750   Pave
490    491  528292030           60        RL           NaN     15896   Pave
491    492  528292040           60        RL           NaN     24682   Pave
492    493  528292070           60        RL           NaN      8755   Pave
493    494  528294050           80        RL          64.0      7848   Pave

    Alley Lot Shape Land Contour  ... Pool QC  Fence Misc Feature Misc Val  \
4     NaN       IR1          Lvl  ...     NaN  MnPrv          NaN        0
5     NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
9     NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
10    NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
11    NaN       IR1          Lvl  ...     NaN  GdPrv         Shed      500
12    NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
13    NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
16    NaN       IR1          Bnk  ...     NaN    NaN          NaN        0
18    NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
51    NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
54    NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
55    NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
56    NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
57    NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
58    NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
344   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
345   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
346   NaN       Reg          Lvl  ...     NaN    NaN         Shed      490
347   NaN       IR1          HLS  ...     NaN    NaN          NaN        0
348   NaN       IR1          Lvl  ...     NaN    NaN         Shed      700
353   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
354   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
355   NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
356   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
357   NaN       IR2          Lvl  ...     NaN    NaN         Shed      480
358   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
359   NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
360   NaN       IR1          Lvl  ...     NaN  MnPrv          NaN        0
361   NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
362   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
363   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
364   NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
369   NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
464   NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
465   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
466   NaN       IR2          Lvl  ...     NaN    NaN          NaN        0
467   NaN       IR2          Lvl  ...     NaN    NaN          NaN        0
474   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
475   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
476   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
477   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
478   NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
479   NaN       IR1          Lvl  ...     NaN  MnPrv          NaN        0
480   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
481   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
483   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
484   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
485   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
486   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
487   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
488   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0
489   NaN       Reg          Lvl  ...     NaN    NaN          NaN        0
490   NaN       IR2          Lvl  ...     NaN    NaN          NaN        0
491   NaN       IR3          Lvl  ...     NaN    NaN          NaN        0
492   NaN       IR1          Lvl  ...     NaN  GdPrv          NaN        0
493   NaN       IR1          Lvl  ...     NaN    NaN          NaN        0

    Mo Sold Yr Sold Sale Type Sale Condition  SalePrice  Formatted_SalePrice
4         3    2010       WD          Normal     189900             $189,900
5         6    2010       WD          Normal     195500             $195,500
9         6    2010       WD          Normal     189000             $189,000
10        4    2010       WD          Normal     175900             $175,900
11        3    2010       WD          Normal     185000             $185,000
12        5    2010       WD          Normal     180400             $180,400
13        2    2010       WD          Normal     171500             $171,500
16        6    2010       WD          Normal     164000             $164,000
18        6    2010       WD          Normal     141000             $141,000
51        1    2010       WD          Normal     199500             $199,500
54        6    2010       WD          Normal     184500             $184,500
55        5    2010       WD          Normal     216500             $216,500
56        4    2010       WD          Normal     185088             $185,088
57        4    2010       WD          Normal     180000             $180,000
58        5    2010       WD          Normal     222500             $222,500
344       7    2009       WD          Normal     189500             $189,500
345       8    2009       WD          Normal     270000             $270,000
346       6    2009       WD          Normal     189000             $189,000
347      10    2009       WD          Normal     377500             $377,500
348       5    2009       WD          Normal     168500             $168,500
353       2    2009       WD          Normal     177500             $177,500
354      12    2009       WD          Normal     185000             $185,000
355      10    2009       WD          Normal     191000             $191,000
356       5    2009       WD          Normal     178000             $178,000
357       4    2009       WD          Normal     185000             $185,000
358       7    2009       WD          Normal     181316             $181,316
359      11    2009       WD          Normal     166000             $166,000
360      12    2009       WD          Normal     178000             $178,000
361       3    2009       WD          Normal     174000             $174,000
362       7    2009       WD          Normal     173000             $173,000
363       5    2009       WD          Normal     225000             $225,000
364       5    2009       WD          Normal     180500             $180,500
369       7    2009       WD          Normal     185000             $185,000
464       6    2009       WD          Normal     184000             $184,000
465       7    2009       WD          Normal     167800             $167,800
466       6    2009       WD          Normal     174000             $174,000
467       3    2009       WD          Normal     174000             $174,000
474       7    2009       WD          Normal     188500             $188,500
475      12    2009     ConLI         Normal     200000             $200,000
476       8    2009       WD          Normal     170000             $170,000
477       9    2009       WD          Normal     189500             $189,500
478       3    2009       WD          Normal     184100             $184,100
479       7    2009       WD          Normal     195500             $195,500
480       6    2009       WD          Normal     192000             $192,000
481       5    2009       WD          Normal     178000             $178,000
483       4    2009       WD          Normal     236000             $236,000
484       7    2009       WD          Normal     257500             $257,500
485       7    2009       WD          Normal     244000             $244,000
486       5    2009       WD          Normal     167000             $167,000
487       6    2009       WD          Normal     179000             $179,000
488       6    2009       WD          Normal     190000             $190,000
489       3    2009       WD          Normal     156000             $156,000
490       5    2009       WD          Normal     245000             $245,000
491       6    2009       WD          Normal     181000             $181,000
492       6    2009       WD          Normal     214000             $214,000
493       6    2009       WD          Normal     168000             $168,000

[56 rows x 83 columns]

## Question 9
**What is the count of homes sold in Gilbert with Yr Sold being 2010?**

In [95]:
gilbert_homes = df[df["Neighborhood"] == "Gilbert"]
gilbert_homes_2010 = gilbert_homes[(gilbert_homes["Yr Sold"] == 2010)]
count = gilbert_homes_2010.shape[0]
print(f"Count of homes in Gilbert with Yr Sold being 2010: {count}")

Count of homes in Gilbert with Yr Sold being 2010: 15

## Question 10
**Return the value of the third row, and fifth column.**

In [93]:
# .iloc is integer-location based indexing for selection by position 
value = df.iloc[2, 4]  # use 2/4 instead of 3/5 b/c starts at 0 not 1 
print("Value of the third row and fifth column:", value)

Value of the third row and fifth column: 81.0

## Question 11
**Remake a new column from the SalePrice that includes data formatted with the $, and commas for the thousands/millions digits.**

In [96]:
# df["Formatted_SalePrice"] = df["SalePrice"].apply(lambda x: "${:,.0f}".format(x))
formatted_sale_price = []
for i in df["SalePrice"]:
    formatted_sale_price.append("${:,}".format(i))
df["Formatted_SalePrice"] = formatted_sale_price
print(df[["SalePrice", "Formatted_SalePrice"]].head())

   SalePrice Formatted_SalePrice
0     215000            $215,000
1     105000            $105,000
2     172000            $172,000
3     244000            $244,000
4     189900            $189,900

## Question 12
**Output a dataframe with only SalePrice, Neighborhood, and Year Built.  Save this file in your git repository as “minimal_ames_housing.csv”,  Make sure you include the formatted SalePrice from the previous question.**

In [97]:
selected_columns = ["Formatted_SalePrice", "Neighborhood", "Year Built"] 
minimal_df = df[selected_columns]
print(minimal_df.head())
# save minimal dataframe to csv
minimal_df.to_csv("minimal_ames_housing.csv")

  Formatted_SalePrice Neighborhood  Year Built
0            $215,000        NAmes        1960
1            $105,000        NAmes        1961
2            $172,000        NAmes        1958
3            $244,000        NAmes        1968
4            $189,900      Gilbert        1997